/* Estilo general */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center;
    background-color: chartreuse;
}

h1 {
    color: #333;
}

h3, h5, p {
    color: #666;
}

/* Estilo para los datos de la cuenta bancaria */
#banco {
    font-size: 24px;
    margin-bottom: 10px;
}

#cbu {
    font-size: 18px;
    margin-top: 20px;
}

/* Estilo para resaltar el saldo */
#saldo {
    font-weight: bold;
    color: #007bff;
    font-size: 20px;
}
